---
import { links } from "../../data/mainmenu.json";

const base = import.meta.env.BASE_URL;
const currentPath = Astro.url.pathname;
---

<nav class="header__menu">
  {
    links.map((link) => (
      <div class="header__menu__item">
        <a class=`hover-slide hover-slide--nano ${currentPath === base + link.url ? 'active' : ''}` href={base + link.url}>
          {link.title}
        </a>
      </div>
    ))
  }
</nav>
