---

---

<div class="footer">
  <div class="footer__inner container mx-auto">
    <div class="footer__upper">
      <div class="footer__cta">
        <div
          data-component='{"component": "catchphrase"}'
          data-array="Have a project in mind?,Sounds good?,Want something similar?,Anything caught your eye?,Interested to collaborate?,Interested in working with us?,Ready to start a project?,If you're excited — we're excited."
        >
        </div>
        Let's <a class="hover-slide" href="mailto:">get in touch!</a>
      </div>
      <nav class="footer__menu">
        <span><a class="hover-slide" href="#" target="">Home</a></span>

        <span
          ><a class="hover-slide" href="./about.html" target="">About</a></span
        >

        <span
          ><a class="hover-slide" href="/services.html" target="">Services</a
          ></span
        >

        <span><a class="hover-slide" href="./work.html" target="">Work</a></span
        >

        <span
          ><a class="hover-slide" href="./contact.html" target="">Contact</a
          ></span
        >

        <span
          ><a class="hover-slide" href="./careers.html" target="">Careers</a
          ></span
        >
      </nav>
    </div>
    <div class="footer__lower">
      <div class="flex">
        <span>&copy; Dart Studio 2024</span>
        <nav>
          <a href="./privacy.html" target="">Privacy Policy</a>

          <a href="#" target="">Sitemap</a>

          <a href="./accessibility.html" target="">Accessibility</a>
        </nav>
      </div>
      <nav>
        <a href="#" target="">Facebook</a>

        <a href="#" target="">X (formerly known as Twitter)</a>

        <a href="" target="">LinkedIn</a>
      </nav>
    </div>
  </div>
</div>

<style>
  .footer {
    margin-top: auto;
  }
</style>
