---
import { Image } from "astro:assets";

import MenuMain from "./navigation/MenuMain.astro";

import Logo from "../images/logo.svg";
// import "@cssComponents/header.pcss";

const base = import.meta.env.BASE_URL;
const { activeLink } = Astro.props;
---

<div class="header" data-component='{"component": "header"}'>
  <div class="header__logo">
    <a href={base}>
      <Image class="logo" src={Logo} alt="Logo Dart" />
    </a>
  </div>

  <MenuMain />
</div>
